*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}

#imageSlider{
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
    position: relative;
}

.slideContainer{
    position: relative;
    transform: translateX(0);
    left: 0;
    width: 2400px;
    height: 500px;
    left: -800px;
}

.slideContainer::after{
    clear: both;
    display: block;
    content: '';
}

.slide{
    width: 800px;
    float: left;
}

.slide img{
    max-width: 100%;
}

.transition{
    transition: .7s;
}

.buttonRow{
    text-align: center;
}

.imageButton{
    border-radius: 20px;
    box-shadow: 4px 6px #7b7d7f;
    font-size: 30px;
    font-family: Century Gothic;
    font-weight: bold;
    color: white;
    background-color: #4c4f51;
    padding: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
